h1{
  color:blue;
border: 5px solid violet;
background-color: white;
padding-left: 20px;
}

body{
  background-image: url(fond.jpg);
background-size:contain;
font-family: "Open Sans Condensed", sans-serif;
  color: #0000CD;
}

img{
  width: 300px;
  height:300px;
}

.container{
  width:100%;
}

.left {
  float:left;
  width:50%;
  padding-left: 20px;
}

.right{
  margin-left: 80%;
}
